$body-color: red;
<<<<<<< HEAD

body {
    color: $body-color;
=======
$header-color: rgb(80, 219, 68);
$left-panel-color: rgb(174, 186, 174);
$button-remove-color: rgb(179, 203, 179);
$project-color: rgb(164, 184, 153);
$active-project-color: rgb(134, 159, 121);
$right-panel-color: rgb(199, 216, 198);
$prority-high-color: rgb(255, 205, 205);
$prority-medium-color: rgb(239, 241, 203);
$prority-low-color: rgb(199, 227, 202);
$border-color: rgb(16, 67, 16);

div {
    display: flex;

}

button {
    background-color: $button-remove-color;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;

    #body-header {
        height: 50px;
        background-color: $header-color;
        padding: 10px;
        align-items: center;
        justify-content: center;

        p {
            padding: 0;
            margin: 0;
            font-size: 2rem;
            font-weight: 700;

        }
    }

    #body-content {
        flex-grow: 1;
        justify-content: stretch;

        #left-panel {
            flex-direction: column;
            align-items: center;
            flex-grow: 0;
            width: 300px;
            background-color: $left-panel-color;
            padding: 10px;
            gap: 5px;

            * {
                height: 60px;
                padding: 0;
                margin: 0;
                width: 98%;
                border-radius: 2px;
                border-color: $border-color;
            }

            .project-card {
                display: grid;
                grid-template-columns: 3fr 1fr;
                align-items: center;
                align-content: center;
                width: 95%;
                border-style: solid;
                border-width: 2px;
                background-color: $project-color;

                * {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }

                button {
                    height: 70%;
                    width: 70%;
                    background-color: $button-remove-color;
                }
            }


            .project-active {
                background-color: $active-project-color;
                font-weight: 600;
            }
        }

        #right-panel {
            flex-direction: column;
            background-color: $right-panel-color;
            flex-wrap: wrap;
            width: 100%;
            gap: 5px;
            padding: 10px;

            .note-card {
                display: grid;
                grid-template-columns: 2fr 2fr 2fr 1fr;
                align-items: center;
                height: 60px;
                padding-left: 20px;
                padding-right: 20px;
                gap: 20px;
                border-style: solid;
                border-color: gray;
                border-width: 1px;
                border-radius: 2px;
                margin: 1px;

                * {
                    padding: 0;
                    margin: 0;
                }

                button {
                    justify-self: end;
                    height: 40px;
                    width: 80px;
                    margin-right: 20px;
                }
            }

            .priority-High {
                background-color: $prority-high-color;
            }

            .priority-Medium {
                background-color: $prority-medium-color;
            }

            .priority-Low {
                background-color: $prority-low-color
            }

            button.note-card {
                height: 62px;
            }
        }
    }

    #body-footer {
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 100vw;
        background-color: rgb(60, 66, 61);

        * {
            padding: 0;
            margin: 0;
            color: rgb(199, 220, 198);
        }
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000; // Ensures it's above other content

        // Apply multiple backdrop filters
        background-color: rgba(0, 0, 0, 0.116); // Semi-transparent black
        backdrop-filter: blur(5px) // Adds blur and grayscale effects
    }

    .popup-form {
        position: fixed;
        flex-direction: column;
        top: 50%; // Center vertically
        left: 50%; // Center horizontally
        transform: translate(-50%, -50%); // Center the form
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        z-index: 1001; // Ensures it's above the backdrop
        gap: 5px;

        .form-group {

            #description {
                display: block;
                height: 100px;
                overflow-wrap: break-word;
                overflow-y: scroll;

            }
        }
    }
>>>>>>> 1a1c2cc4b4d9132947ec4a5bb6dff43bc8b34e22
}